
<div class="spinner" *ngIf="isHidden">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<alert type="danger"  *ngIf="deleteMsg">
    <strong>Tarefa deleta!</strong>
</alert>

<table class="table jumbotron">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Importancia</th>
      <th scope="col">Data</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <th scope="row">{{ task.id }}</th>
      <td> {{ task.nome_tarefa }} </td>
      <td> {{ task.importancia }} </td>
      <td> {{ task.data_hora }} </td>
      <td><button class="btn-sm btn-danger" (click)="onDelete(task)">Excluir</button></td>
    </tr>

  </tbody>
</table>